:root { --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
body { background-color: #f7f7f7; font-family: 'Lato', sans-serif; display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh; margin: 0; }
.container { width: 350px; margin: 30px auto; background: #fff; padding: 20px; border-radius: 10px; box-shadow: var(--box-shadow); }
.inc-exp-container { background-color: #fff; box-shadow: var(--box-shadow); padding: 20px; display: flex; justify-content: space-between; margin: 20px 0; border-radius: 5px; }
.inc-exp-container > div { flex: 1; text-align: center; }
.inc-exp-container > div:first-of-type { border-right: 1px solid #dedede; }
.money { font-size: 20px; letter-spacing: 1px; margin: 5px 0; }
.money.plus { color: #2ecc71; }
.money.minus { color: #c0392b; }
input[type='text'], input[type='number'] { border: 1px solid #dedede; border-radius: 2px; display: block; font-size: 16px; padding: 10px; width: 100%; box-sizing: border-box; margin: 10px 0; }
.btn { cursor: pointer; background-color: #9c88ff; color: #fff; border: 0; display: block; font-size: 16px; margin: 10px 0; padding: 10px; width: 100%; border-radius: 5px; }
.list { list-style-type: none; padding: 0; margin-bottom: 40px; }
.list li { background-color: #fff; box-shadow: var(--box-shadow); color: #333; display: flex; justify-content: space-between; position: relative; padding: 10px; margin: 10px 0; border-radius: 5px; }
.list li.plus { border-right: 5px solid #2ecc71; }
.list li.minus { border-right: 5px solid #c0392b; }